<!DOCTYPE html>
<html>
<head>
  <title>Your new password</title>
</head>
<body style="background-color:#FFFFFF;font-family:Arial; ">

<div style="min-width:200px;margin: auto;
  width: 50%;padding: 0px;background-color:#FFFFFF;border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
  <div style="text-align: left;background-color:#40bfb5;padding: 8px;border-radius: 5px 5px 0 0;">
    <label style="text-transform: uppercase;color: #FFFFFF;"><h2>Wherever</h2></label>
  </div>
  <div style="padding: 16px;">
    <div style="text-align: center;">
      <label style="font-size:22px;color: gray;">Your new password</label>
    </div>
    <br/>
    <div style="text-align: center;">
      <label style="font-size: 16px;">{{password}}</label>
    </div>
  </div>


</div>


</body>
</html>
